{% extends 'base.html.twig' %}

{% block title %}Super Cyklisterne{% endblock %}

{% block body %}

<div class="container-fluid">

    <h1 class="text-center mt-2">Velkommen til vores hjemmeside!</h1>
    <div><img class="img-fluid" src="http://place-sloth.com/1600-400.png" alt="A bicycle or something like that"></div>
    
</div>

{% endblock %}