<nav class="navarbar navbar-expand-sm navbar-dark bg-primary">

    <div class="container">

        <a class="navbar-brand" href="/">Super Cyklisterne</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Forside</a>
                </li>
                <li class="nav-item">
                    <a href="/members" class="nav-link">Medlemmer</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Om Klubben</a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link">Medlemsområde</a>
                </li>
            </ul>
        </div>

    </div>
    
</nav>